# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_USER=discord_bot
DB_PASSWORD=changeme
DB_NAME=discord_bot
# DATABASE_URL se construye con las variables de arriba
# Formato: postgresql://USUARIO:CONTRASENA@HOST:PUERTO/NOMBRE_DB?schema=public
DATABASE_URL=postgresql://discord_bot:changeme@localhost:5433/discord_bot?schema=public

# App
NODE_ENV=development
LOG_LEVEL=debug
